
.like{
    font-size: 1em;
}

.hora{
    font-weight: bold;
    font-size: 1em;
}

.post-comm{
    font-weight: 600;
    font-size: 1em;
}

.hora{
    font-weight: bold;
    font-size: 1em;
}

.comm{
    font-weight: 700;
    font-size: 1em;
}

.user-post{
    font-weight: bold;
    font-size: 1.1em;
}